{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('build/img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end mb-5">
                <a href="{{ path('app_task_create') }}" class="btn btn-primary mx-1">Créer une tâche</a>
                <a href="{{ path('app_task_list_done') }}" class="btn btn-secondary">Retour à la liste des tâches faites</a>
            </div>
        </div>
    </div>

    <div class="row">
        {% for task in tasks %}
            {% if task.user.username == user.username %}
            {% if task.isDone == 0 %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4 class="d-flex justify-content-end">
                                {% if task.isDone %}<i class="bi bi-check-lg"></i>{% else %}<i class="bi bi-x-lg"></i>{% endif %}
                            </h4>
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.content }}</p>
                        </div>
                        <div>
                            <a class="btn btn-danger btn-sm" href="{{ path('app_task_delete', {'id' : task.id }) }}">
                                Supprimer
                            </a>
                            <a class="btn btn-success btn-sm" href="{{ path('app_task_toggle', {'id' : task.id }) }}">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </a>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_task_edit', {'id' : task.id }) }}">
                                Modifier
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            {% else %}
                <div class="alert alert-warning mt-2" role="alert">
                    Il n'y a pas encore de tâche enregistrée.
                </div>
            {% endfor %}
    </div>
{% endblock %}

