{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {% for message in app.flashes('existing_user') %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {{ form_start(form, {'action' : path('app_user_create')}) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success mt-2">Ajouter</button>
            </div>
        {{ form_end(form) }}
        <div class="text-start">
            <a class="text-decoration-none" href="{{ path('app_homepage') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}
